.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
}

.sidebar.open {
    width: 100%;
    transition: width 400ms ease;
}

.sidebar.close {
    width: 0%;
    transition: width 500ms ease;
}

.sidebar.open > .grow.col.xs12 {
    opacity: 1;
    visibility: visible;
    transition: opacity 2s ease;
}

.sidebar.close > .grow.col.xs12 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease;
}




