@media screen and (max-width: 800px) {
    .wrapper{
        display:flex;
        margin:50px 20px;
        flex-direction: column;
    }
  }

@media screen and (min-width: 800px) {
    .wrapper{
        display:flex;
        margin:50px 20vw;
        flex-direction: column;
    }
}
.card{
    display:flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom:50px;
}
.title { 
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}
.button{
    background-color: var(--primary);
    border-color: var(--primary);
}

.card_items{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
}
.card_item{
    margin-bottom: 10px;
}

.inside{
    font-size: 1.2em;
    font-weight: 600;
}
.labels{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li{
    border-color: var(--primary);
    border: 2px solid var(--primary);
    margin-right:20px;
    margin-top:5px;
    padding:5px 10px;
    border-radius:20px;
}
ul{
    padding-left:0;
}
.description{
    margin:10px 0;
}
.description_title{
    margin:10px 0;
    color: var(--primary);
}
.footer_buttons{
display: flex;
flex-direction: row;
justify-content: flex-end;}
.footer_buttons>*{
    margin-left: 20px;
}
.subtitle{
    text-align:left;
    font-weight: 700;
    font-size:1.5em;
    margin: 20px 0 10px 0px;
    padding: 5px 10px;
    border-left: solid 5px var(--primary);
}
.card_subtitle{
    text-align:left;
    font-weight: 700;
    font-size:1.1em;
    margin: 5px 0 ;
    color:var(--primary);
}
.description_body{
    margin-top:20px;
}
.retour{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--primary);
    margin:0 0 20px;
    text-decoration: none;

}