
.plugin{
    background-color: white;
    min-height: 20vh;
    border-radius: 4px;
}
.plugin > * {
    flex: 1 0 auto;
}
.plugin>.title{
    padding:2vh 2vw;
    font-size: 1.3em;
    font-weight: 500;
}
.type{
    padding:1vh 2vw 0 2vw;
}
.type::before{
    content: 'Version : ';
    color: var(--primary);
}

img{
    height: 25vh;
    max-width: 20vw;
    object-fit: scale-down;
}
.review{
    padding:1vh 2vw 2vh 2vw;
    border-bottom: 1px solid #DDD;

}
.review::before{
    content: 'Commentaires : ';
    color: var(--primary);
}
.foot{
    width: 100%;
    border-top: 1px solid #DDD;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
