
:root {
  --primary: #f98dff;
  --primary-dark: #c45ccb;
  --primary-light: #ffbfff;
}

.primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.primary.light {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.primary.dark {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.margin {
  margin: 10px;
}

span.primary {
  background-color: initial;
  border-color: initial;
  color: var(--primary)
}

span.primary.dark {
  background-color: initial;
  border-color: initial;
  color: var(--primary-dark);
}

span.primary.light {
  background-color: initial;
  border-color: initial;
  color: var(--primary-light);
}

.flex-container {
  display: flex;
  display: -webkit-flex; 
}

.flex-container.fill-height {
  height: 100%;
}

.flex-container.fill-width {
  width: 100%;
}

.flex-container.fill {
  height: 100%;
  width: 100%;
}

.flex-container.border-radius {
  border-radius: 10px;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container.justify-start {
  justify-content: flex-start;
}

.flex-container.justify-right {
  justify-content: flex-end;
}

.flex-container.space-evenly {
  justify-content: space-evenly;
}

.flex-container.space-around {
  justify-content: space-around;
}

.flex-container.justify-center {
  justify-content: center;
}

.flex-container.wrap {
  flex-wrap: wrap;
}

.flex-container.center {
  align-items: center;
}

.flex-container.align-start {
  align-items: flex-start;
}

.flex-container.align-center {
  align-items: center;
}

.flex-container.column {
  flex-direction: column;
}
.flex-container.rox {
  flex-direction: row;
}

.flex-direction > .grow {
  flex-grow: 1;
}

.flex-container > .noshrink {
  flex-shrink: 0;
}

.flex-container > .lg4 {
  flex: 0 0 23%;
}

.col {
  width: 100%;
}

.col.xs12{
  max-width: 100%;
}

.col.xs11 {
  max-width: calc((100%/12)*11);
}

.col.xs10 {
  max-width: calc((100%/12)*10);
}

.col.xs9 {
  max-width: calc((100%/12)*9);
}

.col.xs8 {
  max-width: calc((100%/12)*8);
}

.col.xs7 {
  max-width: calc((100%/12)*7);
}

.col.xs6 {
  max-width: calc((100%/12)*6);
}

.col.xs5 {
  max-width: calc((100%/12)*5);
}

.col.xs4 {
  max-width: calc((100%/12)*4);
}

.col.xs3 {
  max-width: calc((100%/12)*3);
}

.col.xs2 {
  max-width: calc((100%/12)*2);
}

.col.xs1 {
  max-width: calc((100%/12)*1);
}

i.humongus {
  font-size: xx-large;
}



