
.categoriesInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plugin_form_title{
    text-align:left;
    width:100%;
    font-weight: 700;
    font-size:2em;
    margin: 20px 0 20px 0;
}
.left{
    float:left;
}